.notification {
  background: #f4f4f4;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid;
}

.notification.success {
  color: green;
  border-color: green;
}

.notification.error {
  color: red;
  border-color: red;
}
